{
    "env": {
        "development": {
            "presets": ["next/babel"],
            "plugins": [
                ["styled-components", { "ssr": true, "displayName": false, "preprocess": false }],
                [
                    "module-resolver",
                    {
                        "root": ["."],
                        "extensions": [".js", ".jsx", ".ts", ".tsx"],
                        "alias": {
                            "@mui/styled-engine": "@mui/styled-engine-sc",
                            "^@pages/(.+)": "./pages/\\1",
                            "^@public/(.+)": "./public/\\1",
                            "^@src/(.+)": "./src/\\1"
                        }
                    }
                ]
            ]
        },
        "production": {
            "presets": ["next/babel"],
            "plugins": [
                ["styled-components", { "ssr": true, "displayName": false, "preprocess": false }],
                [
                    "module-resolver",
                    {
                        "root": ["."],
                        "extensions": [".js", ".jsx", ".ts", ".tsx"],
                        "alias": {
                            "@mui/styled-engine": "@mui/styled-engine-sc",
                            "^@pages/(.+)": "./pages/\\1",
                            "^@public/(.+)": "./public/\\1",
                            "^@src/(.+)": "./src/\\1"
                        }
                    }
                ]
            ]
        },
        "test": {
            "presets": ["next/babel"]
        }
    }
}
