{
    "env": {
        "development": {
            "presets": ["next/babel"],
            "plugins": [
                [
                    "module-resolver",
                    {
                        "root": ["."],
                        "extensions": [".js", ".jsx", ".ts", ".tsx"],
                        "alias": {
                            "^@pages/(.+)": "./pages/\\1",
                            "^@public/(.+)": "./public/\\1",
                            "^@tests/(.+)": "./tests/\\1",
                            "^@common/(.+)": "./src/common/\\1",
                            "^@components/(.+)": "./src/components/\\1",
                            "^@contexts/(.+)": "./src/contexts/\\1",
                            "^@services/(.+)": "./src/services/\\1",
                            "^@styles/(.+)": "./src/styles/\\1"
                        }
                    }
                ]
            ]
        },
        "production": {
            "presets": ["next/babel"],
            "plugins": [
                [
                    "module-resolver",
                    {
                        "root": ["."],
                        "extensions": [".js", ".jsx", ".ts", ".tsx"],
                        "alias": {
                            "^@pages/(.+)": "./pages/\\1",
                            "^@public/(.+)": "./public/\\1",
                            "^@tests/(.+)": "./tests/\\1",
                            "^@common/(.+)": "./src/common/\\1",
                            "^@components/(.+)": "./src/components/\\1",
                            "^@contexts/(.+)": "./src/contexts/\\1",
                            "^@services/(.+)": "./src/services/\\1",
                            "^@styles/(.+)": "./src/styles/\\1"
                        }
                    }
                ]
            ]
        },
        "test": {
            "presets": ["next/babel"]
        }
    }
}
